---
layout: archive
title: "Workpackages and Deliverables"
permalink: /talks/
author_profile: true
---

<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %} -->

<h2>Workpackages</h2>

<h3 style="color:green;">WP1: Conceptual Framework (Kyoto U), Months 1-6</h3>

To specify details of the proposed framework resilience frameworks such as the 4R model (robustness,redundancy, resourcefulness and rapidity) will be reviewed. Further, other studies regarding behavioural changes, anxiety during Covid 19 (meta study) will be reviewed as well as economic indicators. This will feed into a critical discussion as to what learning methods are useful, required data formats for the case studies and e.g. the aspects should be emphasized in the simulation.

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
