---
layout: archive
title: "Workpackages and Deliverables"
permalink: /talks/
author_profile: true
---

<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %} -->

<h2>Workpackages</h2>

<h3 style="color:green;">WP1: Conceptual Framework (Kyoto U), Months 1-6</h3>

To specify details of the proposed framework resilience frameworks such as the 4R model (robustness,redundancy, resourcefulness and rapidity) will be reviewed. Further, other studies regarding behavioural changes, anxiety during Covid 19 (meta study) will be reviewed as well as economic indicators. This will feed into a critical discussion as to what learning methods are useful, required data formats for the case studies and e.g. the aspects should be emphasized in the simulation.

<h3 style="color:green;">WP2: Data Assembly (TUM), Months 4-12</h3>
In this WP the “data pools” for the three case studies will be established and stored in a data lake, with suitable access control rights management. Data will be collected and purchased, as needed. Then initial processing will be carried out so as to facilitate the subsequent WPs. Each local partner will take responsibility for its data. TUM is the overall leader of this WP as it works with all three case studies on collecting social media and other freely available related data.

<h3 style="color:green;">WP3: Data Fusion (UCM), Months 7-15</h3>
Firstly, descriptive analysis of the various datasets for each case study will be conducted. This will lead to an initial comparison of the three case study sites and trends observable from the different data. This data as well as additional static data from OSM and other sources will then be merged to create the simulation input and the graphs required for the deep learning. Each partner will be responsible for its case study. UCM will advise the partners given its expertise and overall report on this WP.

<h3 style="color:green;">WP4: Demand Dynamics and and Traffic simulation (BME), Months 13-24</h3>
The SUMO simulations will be established for each city. Whereas in Budapest microscopic simulation will be used for a specific area with typically busy traffic, for Kyoto and Madrid detailed traffic flow data are not available, so that mesoscopic models will be established. The time-series demand and static network data will be used to obtain changes in traffic patterns.

<h3 style="color:green;">WP5: Deep Learning (Hitachi and supported by Telecom Sud Paris), Months 16 -27</h3>
The data of WP3 as well as the simulation outputs will be used to learn changes in behavioural patterns with machine learning methods. To give two examples: we envisage to learn time periods passed between social media trends and significant traffic flow changes. We believe we can quantify the importance of how much certain information are shared with congestion and raises in certain product prices.

<h3 style="color:green;">WP6: Resilience targets and Scenarios (Nagoya U), Months 25-33</h3>
Results of both simulation and deep learning are discussed to understand critical points that lead to services shortages, traffic congestion and, as far as possible, crowding in certain types of stores/ public facilities. From these indicators the network performance is explained. The analysis is deepened by a range of sensitivity analyses that show key indicators and policy interventions that can lead to better network performance, both with the deep learning and the simulation approach.

<h3 style="color:green;">WP7: Final report, Dissemination (Kyoto U), Months 30 -36</h3>
The results are summarised and disseminated in project reports as well as academic papers. The results will be further discussed with local stakeholders in the respective cities.

<h2>Deliverables</h2>

<!-- When we have any deliverables, uncomment the following and add the deliverables in talks. -->
<!-- {% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
 -->