---
layout: archive
title: "Consortium"
permalink: /consortium/
author_profile: true
---

{% include base_path %}
<head>
<style>
* {
  box-sizing: border-box;
}

.img-container {
  float: left;
  <!-- width: 33.33%; -->
  <!-- height: 100; -->
  padding: 30px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

</style>
</head>

<div class="clearfix">
  <div class="img-container">
  <img src="/images/KU.png" alt="KU" style="height:100;margin-left: 0.3em">
  </div>
  <div class="img-container">
  <img src="/images/Hitachi.png" alt="Hitachi" style="height:100;margin-left: 0.3em">
  </div>
  <div class="img-container">
  <img src="/images/NU.png" alt="NU" style="height:100;margin-left: 0.3em">
  </div>
</div>

<div class="clearfix">
  <div class="img-container">
  <img src="/images/TUM2.png" alt="TUM" style="height:100;margin-left: 0.3em">
  </div>
  <div class="img-container">
  <img src="/images/BME.png" alt="BME" style="height:100;margin-left: 0.3em">
  </div>
  <div class="img-container">
  <img src="/images/UCM.png" alt="UCM" style="height:100;margin-left: 0.3em">
  </div>
</div>


<h2 style="color:green;">Japan Partners</h2>
<p>
Kyoto University, <a href="http://trans.kuciv.kyoto-u.ac.jp/its/index.html">Intelligent Transportation Systems Laboratory</a>

<br>Hitachi Ltd., <a href="https://www.hitachi.co.jp/rd/sc/ai-research/index.html">Intelligent Information Research Department</a>

<br>Nagoya University, <a href="http://www.mirai.nagoya-u.ac.jp/english/">Institute for Innovation for Future Society</a>
</p>

<h2 style="color:green;">European Partners</h2>
<p>
Technical Univerity of Munich, <a href="https://www.mos.ed.tum.de/en/vvs/home/">Chair of Transportation Systems Engineering</a> (Germany)

<br>Budapest University of Technology and Economics, <a href="http://www.kjit.bme.hu/index.php/en/">Dep. of Control for Transp. and Vehicle Systems</a> (Hungary)

<br>Complutense University of Madrid, <a href="https://www.ucm.es/tgis/">Transport, Infrastructure and Territory - tGIS Research Group</a> (Spain)
</p>

<h2 style="color:green;">Contact</h2>

<h3>Japan Coordinator</h3>
<p>Dr. Jan-Dirk Schmöcker
<br>Kyoto Univerity
<br>Email: <a href= "mailto:schmoecker@trans.kuciv.kyoto-u.ac.jp">schmoecker@trans.kuciv.kyoto-u.ac.jp</a>
</p>

<h3>European Coordinator</h3>
<p>Prof. Dr. Constantinos Antoniou
<br>Technical Univerity of Munich
<br>Email: <a href= "mailto:c.antoniou@tum.de">c.antoniou@tum.de</a>
</p>


<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
