---
layout: archive
title: "Consortium"
permalink: /teaching/
author_profile: true
---

{% include base_path %}
<head>
<style>
* {
  box-sizing: border-box;
}

.img-container {
  float: left;
  <!-- width: 33.33%; -->
  <!-- height: 100; -->
  padding: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>

<div class="clearfix">
  <div class="img-container">
  <img src="/images/KU.jpg" alt="KU" style="height:10%">
  </div>
  <div class="img-container">
  <img src="/images/Hitachi.png" alt="Hitachi" style="height:100">
  </div>
  <div class="img-container">
  <img src="/images/NU.jpg" alt="NU" style="height:100">
  </div>
</div>

<div class="clearfix">
  <div class="img-container">
  <img src="/images/TUM.png" alt="TUM" style="height:100">
  </div>
  <div class="img-container">
  <img src="/images/BME.png" alt="BME" style="height:100">
  </div>
  <div class="img-container">
  <img src="/images/UCM.png" alt="UCM" style="height:100">
  </div>
</div>


<h2 style="color:green;">Japan Partners</h2>
<p>Kyoto University, Intelligent Transportation Systems Laboratory</p>

<p>Hitachi Ltd., Intelligent Information Research Department</p>

<p>Nagoya University, Institute for Innovation for Future Society</p>

<h2 style="color:green;">European Partners</h2>
<p>Technical Univerity of Munich, Chair of Transportation Systems Engineering (Germany)</p>

<p>Budapest University of Technology and Economics, Dep. of Control for Transp. and Vehicle Systems (Hungary)</p>

<p>Complutense University of Madrid, Department of Geography, Transport, Infrastructure and Land-Use group (Spain)</p>




<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
